{
  "presets": ["es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "domain": "./src/domain",
        "webApi": "./src/webApi",
        "webSocket": "./src/webSocket",
        "infrastructure": "./src/infrastructure",
        "underscore": "lodash"
      }
    }]
  ]
}
